#root2 > .container > .row {
    display: none!important;
}

input[type=number] {
    -moz-appearance: textfield;
}

.input-group-text {
    padding-top: 0;
    padding-bottom: 0.75rem;
}

.modal-header .btn-close {
    border: none;
    background: white;
    padding: 0.5rem;
    outline: none;
}

.modal-header .btn-close:before {
    content: '×';
    font-size: 1.75rem;
    align-items: center;
    display: flex;
    height: 10px;
}

.design-table table tr:first-child th {
    background: #1d1d21 !important;
    color: #ffbf00 !important;
}

.design-table input, .design-table select, .design-table .input-group-append, .design-table .input-group-prepend {
    border: 1px solid black;
}

.report-table-1 .symbol-name, .report-table-head span {
    background: #1d1d21;
    color: #f7d160 !important;
    font-weight: bold;
    text-align: center;
}

.report-table .symbol-name {
    font-weight: bold;
}

.report-table input, .report-table select, .report-table .input-group-append, .report-table .input-group-prepend {
    border: 1px solid black;
    margin: 2px 0 !important;
}

.calc-hidden,
.calc-hide-some > thead,
.calc-hide-some > tbody,
.calc-hide-someinit > tbody:nth-child(6),
.calc-hide-someinit > tbody:nth-child(7),
.calc-hide-someinit .input-group-append,
#main_Calculator > .container > .row:first-child {
    display: none!important;
}

.calc-hide-some > tbody:nth-child(4),
.calc-hide-some > tbody:nth-child(16) {
    display: table-row-group!important;
}

.calc-hide-someinit {
    border-bottom: none !important;
    margin-bottom: 0!important;
}

#root2 > .container > .tab-content > .tab-pane:first-child,
#root2 > .container > .tab-content > .tab-pane {
    display: block!important;
    position: relative;
    opacity: 1 !important;
    margin: 0 auto;
    width: 100%;
}

#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table {
    display: block;
    width: auto;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 8px 8px 10px 0 #00000063;
    border: 2px solid #000;
}

#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:first-child,
#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:nth-child(2) {
    display: block;
    margin: 0;
    width: 100%;
    padding: 0;
}

#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:first-child table:first-child,
#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:nth-child(2) table:first-child {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:first-child table:first-child thead {
    display: block;
    background: #000;
}

#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:first-child table:first-child thead tr {
    display: block;
    width: 100%;
    background-color: #000;
}

#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:first-child table:first-child thead tr th {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 22px;
    background: #000 !important;
    border-top: none;
}

#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:first-child table:first-child tbody,
#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:nth-child(2) table:first-child tbody {
    border: none;
    margin-top: 8px;
}

#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:first-child table:first-child tbody tr,
#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:nth-child(2) table:first-child tbody tr {
    border: none;
    display: flex;
    justify-content: right;
    line-height: 39px;
}

#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:first-child table:first-child tbody tr td,
#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:nth-child(2) table:first-child tbody tr td {
    border: none;
}

#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:first-child table:first-child tbody tr td:nth-child(1),
#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:nth-child(2) table:first-child tbody tr td:nth-child(1) {
    text-align: right;
    width: 30%;
}

#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:first-child table:first-child tbody tr td:nth-child(2),
#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:nth-child(2) table:first-child tbody tr td:nth-child(2) {
    width: 55%;
}

#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:first-child table:first-child tbody tr td:nth-child(2) input,
#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:nth-child(2) table:first-child tbody tr td:nth-child(2) input {
    color: #000;
}

#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:first-child table:first-child tbody tr td:nth-child(3),
#root2 > .container > .tab-content > .tab-pane:first-child #main_Advanced > .design-table > .row:nth-child(2) table:first-child tbody tr td:nth-child(3) {
    width: 15%;
}